<!DOCTYPE html>
<html>

<head>
    <title>List product</title>
    <meta charset="uft-8">
    <link rel="stylesheet" href="listsp.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="container clearfix">
            <div class="row">
                <div class="col-auto col-left">
                    <h1>
                        <span>ロゴ</span>
                    </h1>
                </div>
                <div class="col-auto col-right">
                    <!-- <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span></span>
                              <span></span>
                              <span></span>
                            </button> -->
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul>
                            <li>
                                <a href="#" class="btn-white">コーディネーター</a>
                            </li>
                            <li>
                                <a href="#" class="btn-white">ジャンル</a>
                            </li>
                        </ul>
                        <a href="#" class="btn-login"><img src="image/login-icon.png" alt="Login">ログイン</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- main -->
    <div class="wrapper">
        <ul class="breadcrumb-top clearfix">
            <li class="breadcrumd_item"><a href="#">トップ</a></li>
            <li class="breadcrumd_item active" style="padding-left: 5px;"><a href="#">コーディネーター 一覧</a></li>
        </ul>
        <h3 class="blue-header section-header clearfix">
            人気のコーディネーター
        </h3>
        <main class="clearfix">
            <div class="search"><img src="image/search-icon.png" alt="icon-search" class="search-icon"><span
                    style="font-weight: bold;">検索条件</span></div>

            <section class="section-form clearfix">
                <div class="section-menu section-form01">
                    <p>コーディネーターの年齢</p>
                    <label class="btn-dropdown">20代
                        <div class="dropdown">
                            <button class="btn-dr">
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <!-- <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div> -->
                        </div>
                    </label>


                </div>
                <div class="section-menu section-form02">
                    <p>コーディネーターの性別</p>
                    <div class="main-container clearfix">
                        <label class="container" style="float: left; width: 45%;">
                            <p>男性</p>
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container" style="float: left;width: 45%;">
                            <p>女性</p>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>


                </div>
                <div class="section-menu section-form03">
                    <p>都道府県</p>
                    <p>北海道 / 青森県 </p>
                    <div class="list-container">
                        <label class="container" style="width: 100%">
                            <p>あり</p>
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container" style="width: 100%">
                            <p>あり</p>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container" style="width: 100%">
                            <p>あり</p>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container" style="width: 100%">
                            <p>あり</p>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container" style="width: 100%">
                            <p>あり</p>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container" style="width: 100%">
                            <p>あり</p>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="section-menu section-form04">
                    <p>写真</p>
                    <label class="container" style="width: 100%">
                        <p>あり</p>
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>

                </div>
                <div class="section-menu section-form05">
                    <p>キーワード</p>
                    <input type="text" placeholder="サンプルテキスト" style="width: 390px; height:30px; border-radius: 3px;box-sizing: border-box;
                    border: 0.5px solid #909090; font-weight: bold; padding: 10px;">
                </div>
            </section>

            <div class="bottom-main clearfix">
                <a href="#" class="btn-blue btn-lg"><img src="image/white-arrow-icon.png" alt="">もっと見る</a>
            </div>
        </main>
        <div class="content">
            <div class="number">
                <div class="list-number">
                    <a class="next next01" href="" style="color: #fff; background: #00a0ea;">1</a>
                    <a class="next next02" href="">2</a>
                    <a class="next next03" href="">3</a>
                    <a class="next next04" href="">4</a>
                    <a class="next next05" href="">5</a>
                    <p style="float: right;">20sanpham/200</p>
                </div>
            </div>

            <div class="breadcrumd-menu clearfix">
                <ul class="breadcrumb-top clearfix" style="margin-bottom: 12px;">
                    <li class="breadcrumd_item breadcrumd_item_main active" style="color: #000;
            margin-right: 27px;"><a href="">並び替え</a></li>
                    <li class="breadcrumd_item breadcrumd_item_main active"><a href="#">新着順</a></li>
                    <li class="breadcrumd_item breadcrumd_item_main" style="padding-left: 5px;"><a href="#">更新順</a></li>
                    <li class="breadcrumd_item breadcrumd_item_main" style="padding-left: 5px;"><a href="#">料金が安い順</a>
                    </li>
                    <li class="breadcrumd_item breadcrumd_item_main" style="padding-left: 5px;"><a href="#">料金が高い順</a>
                    </li>
                </ul>
            </div>

            <section class="section-product">
                <div class="grid-panel-wrapper row-product ">
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>
                                    <span class="location location-grid" style="width: 82px; padding: 0 7px 0 10px;">大阪<i
                                            class="fa fa-caret-down"
                                            style="color: #00a0ea; font-size: 24px; float: right;"></i>
                                        <!-- <div class="dropdown-content">
                                            <a href="#">Link 1</a>
                                            <a href="#">Link 2</a>
                                            <a href="#">Link 3</a>
                                        </div> -->
                                    </span>
                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>
                                    <span class="location location-grid" style="width: 82px; padding: 0 7px 0 10px;">大阪<i
                                        class="fa fa-caret-down"
                                        style="color: #00a0ea; font-size: 24px; float: right;"></i>
                                    <!-- <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div> -->
                                </span>
                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>
                                    <span class="location location-grid" style="width: 82px; padding: 0 7px 0 10px;">大阪<i
                                        class="fa fa-caret-down"
                                        style="color: #00a0ea; font-size: 24px; float: right;"></i>
                                    <!-- <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div> -->
                                </span>
                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>
                                    <span class="location location-grid" style="width: 82px; padding: 0 7px 0 10px;">大阪<i
                                        class="fa fa-caret-down"
                                        style="color: #00a0ea; font-size: 24px; float: right;"></i>
                                    <!-- <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div> -->
                                </span>
                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-panel-wrapper row-product ">
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>
                                    <span class="location location-grid" style="width: 82px; padding: 0 7px 0 10px;">大阪<i
                                        class="fa fa-caret-down"
                                        style="color: #00a0ea; font-size: 24px; float: right;"></i>
                                    <!-- <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div> -->
                                </span>
                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>
                                    <span class="location location-grid" style="width: 82px; padding: 0 7px 0 10px;">大阪<i
                                        class="fa fa-caret-down"
                                        style="color: #00a0ea; font-size: 24px; float: right;"></i>
                                    <!-- <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div> -->
                                </span>
                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>
                                    <span class="location location-grid" style="width: 82px; padding: 0 7px 0 10px;">大阪<i
                                        class="fa fa-caret-down"
                                        style="color: #00a0ea; font-size: 24px; float: right;"></i>
                                    <!-- <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div> -->
                                </span>
                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>
                                    <span class="location location-grid" style="width: 82px; padding: 0 7px 0 10px;">大阪<i
                                        class="fa fa-caret-down"
                                        style="color: #00a0ea; font-size: 24px; float: right;"></i>
                                    <!-- <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div> -->
                                </span>
                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-panel-wrapper row-product ">
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>
                                    <span class="location location-grid" style="width: 82px; padding: 0 7px 0 10px;">大阪<i
                                        class="fa fa-caret-down"
                                        style="color: #00a0ea; font-size: 24px; float: right;"></i>
                                    <!-- <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div> -->
                                </span>
                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>
                                    <span class="location location-grid" style="width: 82px; padding: 0 7px 0 10px;">大阪<i
                                        class="fa fa-caret-down"
                                        style="color: #00a0ea; font-size: 24px; float: right;"></i>
                                    <!-- <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div> -->
                                </span>
                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>
                                    <span class="location location-grid" style="width: 82px; padding: 0 7px 0 10px;">大阪<i
                                        class="fa fa-caret-down"
                                        style="color: #00a0ea; font-size: 24px; float: right;"></i>
                                    <!-- <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div> -->
                                </span>
                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>
                                    <span class="location location-grid" style="width: 82px; padding: 0 7px 0 10px;">大阪<i
                                        class="fa fa-caret-down"
                                        style="color: #00a0ea; font-size: 24px; float: right;"></i>
                                    <!-- <div class="dropdown-content">
                                        <a href="#">Link 1</a>
                                        <a href="#">Link 2</a>
                                        <a href="#">Link 3</a>
                                    </div> -->
                                </span>
                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <div class="number number-bottom">
                <div class="list-number">
                    <a class="next next01" href="" style="color: #fff; background: #00a0ea;">1</a>
                    <a class="next next02" href="">2</a>
                    <a class="next next03" href="">3</a>
                    <a class="next next04" href="">4</a>
                    <a class="next next05" href="">5</a>
                    <p style="float: right;">20sanpham/200</p>
                </div>
            </div>
        </div>
        <!-- end main -->
        <footer>
            <p>フッター</p>
        </footer>
</body>

</html>