<!DOCTYPE html>
<html>



<head>
    <title>List product</title>
    <meta charset="uft-8">
    <link rel="stylesheet" href="listsp.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="container clearfix">
            <div class="row">
                <div class="col-auto col-left">
                    <h1 style="margin-bottom: 25px;">
                        <span>ロゴ</span>
                    </h1>
                </div>
                <div class="col-auto col-right">
                    <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul>
                            <li>
                                <a href="#" class="btn-white">コーディネーター</a>
                            </li>
                            <li>
                                <a href="#" class="btn-white">ジャンル</a>
                            </li>
                        </ul>
                        <a href="#" class="btn-login"><img src="image/login-icon.png" alt="Login">ログイン</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- main -->
    <div class="wrapper container clearfix">
        <ul class="breadcrumb-top clearfix">
            <li class="breadcrumd_item"><a href="#">トップ</a></li>
            <li class="breadcrumd_item active" style="padding-left: 5px;"><a href="#">コーディネーター 一覧</a></li>
        </ul>
        <h3 class="blue-header section-header clearfix">
            人気のコーディネーター
        </h3>
        <main class="clearfix">
            <div class="search"><img src="image/search-icon.png" alt="icon-search" class="search-icon"><span
                    style="font-weight: bold;">検索条件</span></div>

            <form>
                <div class="row clearfix">

                    <div class="col-form form-1 col-sm-2" style="padding-right: 15px;">
                        <label class="text" for="exampleFormControlSelect1">コーディネーターの年齢</label>
                        <div class="dropdown">
                            <button class="btn btn-primary" type="button" data-toggle="dropdown"
                                style="background: #fff; color:#000;">20代
                                <span class="caret"></span></button>
                            <!-- <ul class="dropdown-menu">
                                  <li><a href="#">HTML</a></li>
                                  <li><a href="#">CSS</a></li>
                                  <li><a href="#">JavaScript</a></li>
                                </ul> -->
                        </div>
                    </div>
                    <div class="col-form form-2 col-sm-2" style="padding-right: 15px; padding-left: 15px;">
                        <label class="text" for="exampleFormControlSelect1">コーデネーターの性別</label>
                        <label class="container" style="width: 45%; float: left;">
                            <p>あり</p>
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container" style="width: 45%; float: left;">
                            <p>女性</p>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div class="col-form form-3 col-sm-2" style="padding-right: 15px; padding-left: 15px;">
                        <label class="text" for="exampleFormControlSelect1">都道府県<br />北海道 / 青森県</label>
                        <div class="dropdown">
                            <p class="btn btn-primary " data-toggle="dropdown">都道府県</p>
                            <ul class="dropdown-menu" style="height: 180px;">
                                <li><a href="#"> <label class="container" style="width: 100%">
                                            <p>あり</p>
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label></a></li>
                                <li><a href="#"><label class="container" style="width: 100%">
                                            <p>あり</p>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label></a></li>
                                <li><a href="#"><label class="container" style="width: 100%">
                                            <p>あり</p>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label></a></li>
                                <li><a href="#"> <label class="container" style="width: 100%">
                                            <p>あり</p>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label></a></li>
                                <li><a href="#"><label class="container" style="width: 100%">
                                            <p>あり</p>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label></a></li>
                                <li><a href="#"><label class="container" style="width: 100%">
                                            <p>あり</p>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-form form-4 col-sm-1" style="padding-right: 15px; padding-left: 15px;">
                        <label class="text" for="exampleFormControlSelect1">写真</label>
                        <label class="container" style="width: 100%">
                            <p>あり</p>
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div class="col-form form-5 col-sm-5" style="width: 388px; padding-left: 15px; ">
                        <label class="text" for="formGroupExampleInput">キーワード</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                            style=" opacity: 1; position: relative;" placeholder="サンプルテキスト">
                    </div>
                </div>
            </form>

            <div class="bottom-main clearfix">
                <a href="#" class="btn-blue btn-lg"><img src="image/white-arrow-icon.png" alt="">もっと見る</a>
            </div>
        </main>
        <div class="content clearfix">
            <div class="number">
                <div class="list-number">
                    <a class=" btn btn-outline-info" href="" style="color: #fff; background: #00a0ea;">1</a>
                    <a class=" btn btn-outline-info" style="border: 1px solid #d7d7d7;" href="">2</a>
                    <a class=" btn btn-outline-info" style="border: 1px solid #d7d7d7;" href="">3</a>
                    <a class=" btn btn-outline-info" style="border: 1px solid #d7d7d7;" href="">4</a>
                    <a class=" btn btn-outline-info" style="border: 1px solid #d7d7d7;" href="">5</a>
                    <p style="float: right;">20sanpham/200</p>
                </div>
            </div>

            <div class="breadcrumd-menu clearfix">
                <ul class="breadcrumb-top clearfix" style="margin-bottom: 12px;">
                    <li class="breadcrumd_item breadcrumd_item_main active" style="color: #000;
            margin-right: 27px;"><a href="">並び替え</a></li>
                    <li class="breadcrumd_item breadcrumd_item_main active"><a href="#">新着順</a></li>
                    <li class="breadcrumd_item breadcrumd_item_main" style="padding-left: 5px;"><a href="#">更新順</a></li>
                    <li class="breadcrumd_item breadcrumd_item_main" style="padding-left: 5px;"><a href="#">料金が安い順</a>
                    </li>
                    <li class="breadcrumd_item breadcrumd_item_main" style="padding-left: 5px;"><a href="#">料金が高い順</a>
                    </li>
                </ul>
            </div>

            <section class="section-product">
                <div class="grid-panel-wrapper row-product ">
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>

                                    <a href="#" class="myPopover location location-grid"
                                        style="width: 82px; padding: 0 7px 0 10px;" data-toggle="popover"
                                        data-placement="bottom" data-html="true"
                                        data-popover-content="#myPopoverContent">大阪<i class="fa fa-caret-down"
                                            style="color: #00a0ea; font-size: 24px; float: right;"></i></a>

                                    <!-- Content for Popover: -->
                                    <div id="myPopoverContent" style="display:none;">
                                        <ul>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>

                                    <a href="#" class="myPopover location location-grid"
                                        style="width: 82px; padding: 0 7px 0 10px;" data-toggle="popover"
                                        data-placement="bottom" data-html="true"
                                        data-popover-content="#myPopoverContent">大阪<i class="fa fa-caret-down"
                                            style="color: #00a0ea; font-size: 24px; float: right;"></i></a>

                                    <!-- Content for Popover: -->
                                    <div id="myPopoverContent" style="display:none;">
                                        <ul>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>

                                    <a href="#" class="myPopover location location-grid"
                                        style="width: 82px; padding: 0 7px 0 10px;" data-toggle="popover"
                                        data-placement="bottom" data-html="true"
                                        data-popover-content="#myPopoverContent">大阪<i class="fa fa-caret-down"
                                            style="color: #00a0ea; font-size: 24px; float: right;"></i></a>

                                    <!-- Content for Popover: -->
                                    <div id="myPopoverContent" style="display:none;">
                                        <ul>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>

                                    <a href="#" class="myPopover location location-grid"
                                        style="width: 82px; padding: 0 7px 0 10px;" data-toggle="popover"
                                        data-placement="bottom" data-html="true"
                                        data-popover-content="#myPopoverContent">大阪<i class="fa fa-caret-down"
                                            style="color: #00a0ea; font-size: 24px; float: right;"></i></a>

                                    <!-- Content for Popover: -->
                                    <div id="myPopoverContent" style="display:none;">
                                        <ul>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-panel-wrapper row-product ">
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>

                                    <a href="#" class="myPopover location location-grid"
                                        style="width: 82px; padding: 0 7px 0 10px;" data-toggle="popover"
                                        data-placement="bottom" data-html="true"
                                        data-popover-content="#myPopoverContent">大阪<i class="fa fa-caret-down"
                                            style="color: #00a0ea; font-size: 24px; float: right;"></i></a>

                                    <!-- Content for Popover: -->
                                    <div id="myPopoverContent" style="display:none;">
                                        <ul>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>

                                    <a href="#" class="myPopover location location-grid"
                                        style="width: 82px; padding: 0 7px 0 10px;" data-toggle="popover"
                                        data-placement="bottom" data-html="true"
                                        data-popover-content="#myPopoverContent">大阪<i class="fa fa-caret-down"
                                            style="color: #00a0ea; font-size: 24px; float: right;"></i></a>

                                    <!-- Content for Popover: -->
                                    <div id="myPopoverContent" style="display:none;">
                                        <ul>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>

                                    <a href="#" class="myPopover location location-grid"
                                        style="width: 82px; padding: 0 7px 0 10px;" data-toggle="popover"
                                        data-placement="bottom" data-html="true"
                                        data-popover-content="#myPopoverContent">大阪<i class="fa fa-caret-down"
                                            style="color: #00a0ea; font-size: 24px; float: right;"></i></a>

                                    <!-- Content for Popover: -->
                                    <div id="myPopoverContent" style="display:none;">
                                        <ul>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>

                                    <a href="#" class="myPopover location location-grid"
                                        style="width: 82px; padding: 0 7px 0 10px;" data-toggle="popover"
                                        data-placement="bottom" data-html="true"
                                        data-popover-content="#myPopoverContent">大阪<i class="fa fa-caret-down"
                                            style="color: #00a0ea; font-size: 24px; float: right;"></i></a>

                                    <!-- Content for Popover: -->
                                    <div id="myPopoverContent" style="display:none;">
                                        <ul>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid-panel-wrapper row-product ">
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>

                                    <a href="#" class="myPopover location location-grid"
                                        style="width: 82px; padding: 0 7px 0 10px;" data-toggle="popover"
                                        data-placement="bottom" data-html="true"
                                        data-popover-content="#myPopoverContent">大阪<i class="fa fa-caret-down"
                                            style="color: #00a0ea; font-size: 24px; float: right;"></i></a>

                                    <!-- Content for Popover: -->
                                    <div id="myPopoverContent" style="display:none;">
                                        <ul>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>

                                    <a href="#" class="myPopover location location-grid"
                                        style="width: 82px; padding: 0 7px 0 10px;" data-toggle="popover"
                                        data-placement="bottom" data-html="true"
                                        data-popover-content="#myPopoverContent">大阪<i class="fa fa-caret-down"
                                            style="color: #00a0ea; font-size: 24px; float: right;"></i></a>

                                    <!-- Content for Popover: -->
                                    <div id="myPopoverContent" style="display:none;">
                                        <ul>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>

                                    <a href="#" class="myPopover location location-grid"
                                        style="width: 82px; padding: 0 7px 0 10px;" data-toggle="popover"
                                        data-placement="bottom" data-html="true"
                                        data-popover-content="#myPopoverContent">大阪<i class="fa fa-caret-down"
                                            style="color: #00a0ea; font-size: 24px; float: right;"></i></a>

                                    <!-- Content for Popover: -->
                                    <div id="myPopoverContent" style="display:none;">
                                        <ul>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="grid-panel">
                            <a href="#">
                                <div class="view-image">
                                    <img src="image/preview-img.png" alt="">
                                    <span class="count">151</span>

                                    <a href="#" class="myPopover location location-grid"
                                        style="width: 82px; padding: 0 7px 0 10px;" data-toggle="popover"
                                        data-placement="bottom" data-html="true"
                                        data-popover-content="#myPopoverContent">大阪<i class="fa fa-caret-down"
                                            style="color: #00a0ea; font-size: 24px; float: right;"></i></a>

                                    <!-- Content for Popover: -->
                                    <div id="myPopoverContent" style="display:none;">
                                        <ul>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                            <li>大阪</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="general-info">
                                    <span>名前：あいうえおかきくけこ</span>
                                    <span>年齢：20歳</span>
                                </div>
                                <div class="description">
                                    <p>
                                        <span class="title">得意ジャンル</span>
                                        <span class="data">カジュアル</span>
                                    </p>
                                    <p>
                                        <span class="title">対応年齢層</span>
                                        <span class="data">10〜20代</span>
                                    </p>
                                    <p>
                                        <span class="title">対応性別</span>
                                        <span class="data">男女</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <span><i class="currency">¥</i>2,000円/1H</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <div class="number">
                <div class="list-number number-bottom">
                    <a class=" btn btn-outline-info" href="" style="color: #fff; background: #00a0ea;">1</a>
                    <a class=" btn btn-outline-info" style="border: 1px solid #d7d7d7;" href="">2</a>
                    <a class=" btn btn-outline-info" style="border: 1px solid #d7d7d7;" href="">3</a>
                    <a class=" btn btn-outline-info" style="border: 1px solid #d7d7d7;" href="">4</a>
                    <a class=" btn btn-outline-info" style="border: 1px solid #d7d7d7;" href="">5</a>
                    <p style="float: right;">20sanpham/200</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end main -->
    <footer>
        <p>フッター</p>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script> -->
    <script>
        $('.myPopover').popover({
            html: true,
            content: function () {
                var elementId = $(this).attr("data-popover-content");
                return $(elementId).html();
            }
        });
    </script>

</body>

</html>