* {
  margin: 0;
  padding: 0;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
body{
  margin: 0 auto;
}
a {
  list-style-type: none;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: bottom;
}
p {
  color: #fff;
  font-size: 24px;
}
/* header */
.header {
  width: 100%;
}
.header-top {
  height: 77px;
  background: #212938;
}
.header-top button {
  color: #fff;
  font-size: 16px;
}
.btn-01 {
  background: #141414;
  width: 200px;
  height: 60px;
  border: none;
  margin: 8px 20px 0 120px;
  float: left;
}
.btn-01:hover {
  cursor: pointer;
}
.btn-02 {
  width: 165px;
  height: 36px;
  background: #212938;
  float: left;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 10px;
}
.btn-02:hover {
  background: #5d98e4;
}
.btn-04 {
  width: 150px;
  height: 100%;
  background: #00a0ea;
  border: none;
  float: right;
  margin-right: 120px;
}
.btn-04:hover {
  cursor: pointer;
  background: #10305a;
}
.header-bottom{
  position: relative;
}
.banner {
  width: 100%;
  height: 100%;
}
.btn-banner {
  position: absolute;
  color: #fff;
  left: 276px;
  bottom: 40px;
  width: 360px;
  height: 70px;
  background: #e4006b;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #960046;
  font-size: 26px;
}
.btn-banner:hover {
  cursor: pointer;
  background: #960046;
}
/* end-header */
.main-content {
  width: 1119px;
  margin: 0 auto;
}
/* content-top */
.content-top {
  margin: 40px 0 98px 0;
}
.img-bg {
  position: relative;
}
.img-title {
  width: 100%;
}
.p-title {
  position: absolute;
  font-size: 24px;
  color: white;
  left: 435px;
  bottom: 18px;
  font-weight: bold;
}
.product {
  width: 268px;
  float: left;
  border: 1px solid #d5d5d5;
  margin-right: 13px;
  /* 17px */
}
.product:last-child {
  margin-right: 0;
}
.list-product {
  width: 100%;
  margin: 20px 0 30px 0;
}
.img-product {
  height: 279px;
  width: 237px;
  margin: 16px;
  position: relative;
}
.img-product img {
  height: 279px;
  width: 237px;
}
.fa-comment {
  position: absolute;
  bottom: 5px;
  left: 3px;
}
.button-left {
  position: absolute;
  height: 20px;
  width: 60px;
  border-radius: 3px;
  border: none;
  bottom: 5px;
  right: 3px;
}
.product-bottom-content {
  margin: 16px;
}
.product-bottom {
  height: 202px;
  background: #f4f4f4;
}
.btn {
  display: block;
  width: 235px;
  height: 25px;
  border: 1px solid #d5d5d5;
}
.li-btn {
  border-radius: 3px;
  border: none;
  background: #fc9800;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.li-btn:hover {
  background: #74cf50;
}
.li-left{
  text-align: right; 
  width: 93px; 
  float: left;
}
.li-right{
  text-align: left; 
  width: 123px; 
  float: right;
}
.btn-price {
  height: 36px;
  margin-top: 15px;
  margin-bottom: 17px;
  background: #fff;
  font-size: 20px;
}
.btn-price:hover {
  cursor: pointer;
  background: #e777ab;
}
.fa-yen-sign{
  background: #e4005a;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.btn-next {
  width: 444px;
  height: 70px;
  margin: 30px 0 97px 335px;
  background: #0084d8;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #0047a7;
}
.btn-next:hover {
  background: #0047a7;
  cursor: pointer;
}
.btn-next2 p{
  font-weight: bold;

}
/* end-content-top */
/* content-mid */
.content-mid {
  margin-bottom: 78px;
}
.content {
  padding: 27px 0 27px 0;
  text-align: center;
  color: black; 
  font-size: 18px;
  font-weight: bold;
}
.img-content {
  position: absolute;
  color: #fff;
  bottom: 15px;
  left: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.product-mid-v2 {
  width: 555px;
  float: left;
  margin-bottom: 17px;
  background: #fff4fb;
}
.img-mid {
  float: left;
  margin: 137px 10px 0 10px;
}
.img-v2 {
  width: 214px;
  height: 297px;
  float: left;
  background: #fff;
  border: 1px solid #d5d5d5;
  padding: 5px;
}

.mid {
  padding: 30px 25px;
}
.product-content {
  width: 100%;
  margin-top: 15px;
  background: #fff;
}

.content-bt {
  float: left;
}

.pr-content-main {
  padding: 17px 15px 20px 15px;
}
.pr-content-bt-img {
  width: 90px;
}
.pr-maincontent {
  width: 80%;
}
.btn-pr-next {
  width: 100%;
  height: 70px;
  border: none;
  border-radius: 5px;
  background: #0084d8;
  box-shadow: 0 5px #0047a7;
  margin: 13px 0 25px 0;
  font-size: 22px;
  color: #fff;
  position: relative;
  font-weight: bold;
}
.btn-pr-next:hover {
  background: #0047a7;
  cursor: pointer;
}

/* end-content-mid */
/* content-bottom */

.content-bottom-title {
  background: #db0005;
}
.content-bottom-title p {
  padding: 30px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.ct-bt-img {
  float: left;
  width: 50%;
  height: 255px;
  margin: 17px 0 22px 0;
}
.btn-content-bottom {
  height: 72px;
  width: 356px;
  margin: 32px 0 234px 371px;
  text-align: center;
  background: #e4006b;
  border: none;
  box-shadow: 0 5px #960046;
  border-radius: 5px;
  color: #fff; 
  font-size: 26px;
  font-weight: bold;
}
.btn-content-bottom:hover{
  cursor: pointer;
  background: #960046;
}
.list-pr {
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}
.list-number {
  background: #00a0ea;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  text-align: center;
  margin-right: 13px;
}
.list-number-right {
  background: #e4005a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  text-align: center;
}
.list-number-right p{
  padding-top: 5px;
}
.list-number p {
  padding-top: 5px;
}
.list-pr-ct-content {
  float: left;
  width: 89%;
}
.pr-title{
  color: #ec2e76;
  font-weight: bold;
}
.list-pr-title {
  padding: 20px;
  text-align: center;
  font-size:20px ;
  font-weight: bold;
}
.title-left {
  background: #d9f3ff;
  color: #00a0ea;
}
.title-right {
  background: #ffd9e8;
  color: #e4005a;
}
.list-pr-maincontent {
  margin: 25px 25px;
  border-bottom: 1px dotted #d5d5d5;
}
.pr-content-title{
  font-size: 18px;
  font-weight: bold;
}
.list-pr-maincontent:last-child {
  border-bottom: none;
}
.pr-content-content{
  margin-bottom: 25px;
}
/* end-content-bottom */
.footer {
  width: 100%;
  background: #2d2d2d;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
/* end-footer */

/* col */
.col-50{
  width: 551px;
  float: left;
}
.col-50-left{
  margin-right: 12px;
}
/* end-col */
/* responsive */
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  
}