/*
  dimension definition
*/
$width-mobile: 480px;
$width-smobile: 320px;
$width-tablet: 768px;
$width-desktop: 992px;
$width-large-desktop: 1200px;

/*
  corp color guide
*/
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #00a0ea;
$color-pink: #e4005a;
$color-gray: #d5d5d5;